<!DOCTYPE html>
    <head>
        <title>Seisqc explorer</title>
        <style>
            table, th, td {border: 1px solid black;}
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Channel</th>
                {% for chan in chans %}
                <th>{{chan}}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>Trace</th>
                {% for file in tra_files %}
                <td>
                    <a href="{{file}}">
                        <img src="{{file}}">
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Availability</th>
                {% for file in ava_files %}
                <td>
                    <a href="{{file}}">
                        <img src="{{file}}">
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Detections</th>
                {% for file in det_files %}
                <td>
                    <a href="{{file}}">
                        <img src="{{file}}">
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Ppsd</th>
                {% for file in pps_files %}
                <td>
                    <a href="{{file}}">
                        <img src="{{file}}">
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Spectrogram</th>
                {% for file in spe_files %}
                <td>
                    <a href="{{file}}">
                        <img src="{{file}}">
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Evolution</th>
                {% for file in evo_files %}
                <td>
                    <a href="{{file}}">
                        <img src="{{file}}">
                    </a>
                </td>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>
