<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Seisqc explorer</title>
	<link href="sliding_panel.css" rel="stylesheet">
</head>
<body>
	<div id="lateral-panel">
		<input id="lateral-panel-input" type="checkbox">
		<label id="lateral-panel-label" for="lateral-panel-input"></label>
		<div id="lateral-panel-bloc">
			{% for net in networks.keys() %}
			<ul>
				<li>{{net}}</li>
				<ul>
				    {% for sta in networks[net].keys() %}
				    {% if sta != 'url' %}
				    <li>{{sta}}</li>
				    <ul>
					{% for loc in networks[net][sta].keys() %}
					{% if loc != 'url' %}
					<li>{{loc}}</li>
					<ul>
					    {% for depth in depths %}
					    <li>
					         <a href="{{net}}/{{sta}}/{{loc}}/{{depth}}.html" target="Data">{{depth}}</a>
					    </li>
					    {% endfor %}
					</ul>
					{% endif %}
					{% endfor %}
				    </ul>
				    {% endif %}
				    {% endfor %}
				</ul>
			</ul>
			{% endfor %}
		</div>
	</div>
	<iframe style="height:2710px;width:2120px;" name="Data"></iframe>
</body>
</html>
