#lateral-panel {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 20em;
    min-height: 100vh;
    transform: translateX(-100%);
  }

  #lateral-panel-input {
    position: absolute;
    left: -999em;
  }

  #lateral-panel-label {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 100%;
    width: 3em;
    height: 3em;
    cursor: pointer;
  }

  #lateral-panel-bloc {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: auto;
  }

  #lateral-panel-input:checked ~ #lateral-panel-label {
    left: 200%;
  }   
  #lateral-panel-input:checked ~ #lateral-panel-bloc {
    transform: translateX(100%);
  }

  #lateral-panel-label,
#lateral-panel-bloc {
  font-size: inherit;
  background: #FFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all .5s;
}

#lateral-panel-label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    border: .5em solid currentColor;
    border-width: .5em .5em 0 0;
    color: #888;
    transition: all .5s;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #lateral-panel-input:checked ~ #lateral-panel-label:before {
    transform: translate(-50%, -50%) rotate(-135deg);
  }

  th, td{
    background-color:rgb(118, 218, 88);
  }

  